{{ $featured_image := .Params.featured_image }}
<article>
  <a class="db ph3 ph0-l no-underline dark-gray dim" href="{{ .URL }}">
    <div class="flex flex-column flex-row-ns">
      {{ if .Params.featured_image }}
        {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        {{ $featured_image := (trim $featured_image "/") | absURL }}
        <div class="w-100 cover bg-center" style="background-image: url('{{ $featured_image }}');">
          <div class="bg-black-60">
            <div class="page-list-item-title">
              {{ .Title }}
            </div>
          </div>
        </div>
      {{ else }}
        <div class="w-100 bg-black-60">
          <div class="page-list-item-title">
            {{ .Title }}
          </div>
        </div>
      {{ end }}
    </div>
  </a>
</article>
