{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 justify-center center">
    <article class="cf pv5 ph3 ph4-ns mw7 flex-auto-ns order-1-ns">
      <h1 class="f1 mt0">
        {{ .Title }}
      </h1>
      <section class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
        {{ .Content }}
      </section>
    </article>

    {{ if not (or (in .Page.Title "Contact") (in .Page.Title "Thank")) }}
      <div class="ph3 pv5 order-0-ns">
        {{ partial "menu-contextual.html" . }}
      </div>
    {{ end }}
  </div>
{{ end }}
