@import "imports/reset.css";
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600');

html, body {
  font-family: 'Muli', sans-serif;
}

header.cover h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

#home-page {
  max-width: 50em;
}

#home-page h2 {
  margin: 2rem 0 0;
  font-size: 2.5rem;
  font-weight: 200;
}

#home-page h3,
#home-page h4 {
  margin: 2rem 0 0;
  font-size: 1.5rem;
  font-weight: 200;
}

#home-page p {
  font-weight: 200;
}

.page-list-container {
  margin: 0;
}

.page-list-item {
  flex: 1 0 50%;
  min-width: 50%;
  padding: 1rem;
}

.page-list-item-title {
  padding: 4rem 0;
  text-align: center;
  color: white;
  font-size: 2rem;
}

@media screen and (min-width: 60em) {
  header.cover h1 {
    font-size: 5rem;
  }
}
