@import "imports/reset.css";
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600');

html, body {
  font-family: 'Muli', sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

body header,
body footer {
  flex: 0 1 auto;
}

body main {
  flex: 1 0 auto;
}

header.cover h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

/* Home page contents */
#home-page {
  max-width: 50em;
}

#home-page h2 {
  margin: 2rem 0 0;
  font-size: 2.5rem;
  font-weight: 200;
}

#home-page h3,
#home-page h4 {
  margin: 2rem 0 0;
  font-size: 1.5rem;
  font-weight: 200;
}

#home-page p {
  font-weight: 200;
}

/* Index page for sections with multiple pages */
.page-list-container,
.sermon-list-container {
  margin: 0;
}

.page-list-item {
  flex: 1 0 50%;
  min-width: 50%;
  padding: 1rem;
}

.sermon-list-item {
  flex: 1 0 50%;
  max-width: 50%;
  padding: 1rem;
}

.page-list-item-title {
  padding: 4rem 0;
  text-align: center;
  color: white;
  font-size: 2rem;
}

.sermon-list-item-title,
.sermon-list-item-date {
  padding: 4rem 0;
  text-align: center;
  color: white;
}

.sermon-list-item-title {
  font-size: 2rem;
}

.sermon-list-item-date {
  padding-top: 0;
  font-size: 1.5rem;
}

/* Pagination */
main .pagination {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  padding: 1rem;
}

main .pagination li {
  display: block;
  list-style: none;
  margin: 0 .5rem 0;
  font-size: 1rem;
}

main .pagination li a {
  display: block;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
}

main .pagination li:hover a {
  background-color: rgba(0, 0, 0, 0.85);
}

main .pagination li.active a:active,
main .pagination li.active a:link,
main .pagination li.active a:visited {
  background-color: black;
  border: 1px solid white;
}

/* Responsive videos */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 60em) {
  header.cover h1 {
    font-size: 5rem;
  }
}
