{{ define "main" }}
  <main id="home-page" class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}

    <br />
    <hr />
    {{ $section_name := "announcements" }}
    {{ $section := where .Site.RegularPages "Section" "eq" $section_name }}
    <div class="pb3 w-100">
      {{ with .Site.GetPage "section" $section_name }}
        <h2 class="flex-none">
          Recent {{ .Title }}
        </h2>
      {{ end }}

      <section class="w-100 mt3 flex flex-wrap">
        {{/* Range through the first three items of the section */}}
        {{ range (first 4 ($section.ByParam "priority")) }}
          <div class="relative w-100 w-50-ns ph3-ns">
            {{ partial "summary.html" . }}
          </div>
        {{ end }}
      </section>

      {{ if gt (len $section) 4}}
        <section class="w-100">
          <h1 class="f3">More</h1>
          {{/* Now, range through the next four after the initial 3 items. Nest the requirements, "after" then "first" on the outside */}}
          {{ range (first 4 (after 4 $section))  }}
            <h2 class="f5 fw4 mb4 dib mr3">
              <a href="{{ .URL }}" class="link black dim">
                {{ .Title }}
              </a>
            </h2>
          {{ end }}

          {{/* As above, Use $section_name to get the section title, and URL. Use "with" to only show it if it exists */}}
          {{ with .Site.GetPage "section" $section_name }}
            <a href="{{ .URL }}" class="link db f6 pa2 br3 bg-mid-gray white dim w4 tc">All {{.Title }}</a>
          {{ end }}
        </section>
      {{ end }}
    </div>
    <hr />
    <h2>Location</h2>
    <br />
    <iframe
      id="google-maps-iframe"
      width="100%"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBf471di7MQmrr6rZwh9Qs9bW76qoN2yh0&q=Immanuel+Baptist+Church,Hamilton+OH" allowfullscreen>
    </iframe>
  </main>
{{ end }}
